body{
    background-color: black;
}

section{
    margin: 100px auto;
}

p{
    color: white;
}

h2{
    color: #33a8db;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: space;
    height: 520px;
    border-bottom: 1px solid rgba(51, 168, 219, .5);
    padding-top: 60px;
}

.banner .banner-content{
    margin: auto;
    text-align: center;
    width: 600px;
    color: white;
}

.banner h1{
    background: -webkit-linear-gradient(#33a8db);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
}

.banner p{
    font-size: 20px;
    margin: 15px 0px 25px;
}

.banner .logo{
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.banner .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
}

.banner .banner-content button{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    color: #31a8dd;
    border-radius: 30px;
    border-image: linear-gradient(#3ba1cd, #1572b7);
    border-image-slice: 10;
    padding: 15px 30px;
    cursor: pointer;
}

#course-content{
    width: 800px;
    text-align: center;
}

.modules-list{
    margin: 25px 0px;
}

.module{
    background-color: #252525;
    color: white;
    width: 550px;
    margin: 0px auto 25px;
    padding: 15px;
    border: 1px solid #33a8db;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px #000000b3;
}

span{
    color: #33a8db;
}

#transform-world {
    background-image: url("../images/woman-code.png");
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    height: 560px;
    padding: 200px;
}

#transform-world p{
    max-width: 250px;
    font-size: 40px;
    font-weight: bold;
    text-transform: lowercase;
    text-shadow: 3px 2px #33a8db;
}

#professional-challenges {
  text-align: center;
  width: 800px;
}

#professional-challenges img{
    margin: 30px 0;
}

footer{
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33a8db80;
    text-align: center;
    padding: 60px 0px;
}

.dio-logo{
    width: 300px;
}

footer a{
    color: #33A8DB;
    text-decoration: none;
    font-weight: bold;
}